[submodule "deps/libcypher-parser"]
	path = deps/libcypher-parser
	url = https://github.com/RedisGraph/libcypher-parser.git
[submodule "deps/rax"]
	path = deps/rax
	url = https://github.com/antirez/rax.git
[submodule "deps/xxHash"]
	path = deps/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "deps/RediSearch"]
	path = deps/RediSearch
	url = https://github.com/RediSearch/RediSearch.git
[submodule "deps/readies"]
	path = deps/readies
	url = https://github.com/RedisLabsModules/readies.git
