# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Folders
CMakeFiles/
logs/
/bin/

# Files
CMakeCache.txt
DartConfiguration.tcl
lemon
deps/GraphBLAS/Config/GraphBLAS.h.tmp

# Project
.cproject
.project

# Debug files
*.dSYM/
*.su

# Additional suffixes
*.pyc
*.cmake
*.make
*.xml
*.iml
*.d

# test result files
/tests/flow/logs/
/tests/tck/logs/

# local/remote benchmark result files
/tests/benchmarks/*.json

# gcov
*.gcda
*.gcno
/cov/
/venv/
/.vscode/
/1/
