version: 2.1


executors:
  centos7:
    docker:
      - image: 'redisfab/rmbuilder:6.0.9-x64-centos7'
        environment:
            LANG: en_US.UTF-8  
            LANGUAGE: en_US.UTF-8
            LC_ALL: en_US.UTF-8
  ubuntu:
    docker:
      - image: 'redisfab/rmbuilder:6.0.9-x64-bionic'
        environment:
            LANG: en_US.UTF-8  
            LANGUAGE: en_US.UTF-8
            LC_ALL: en_US.UTF-8

commands:
  early_return_for_forked_pull_requests:
    description: >-
      If this build is from a fork, stop executing the current job and return success.
      This is useful to avoid steps that will fail due to missing credentials.
    steps:
      - run:
          name: Early return if this build is from a forked PR
          command: |
            if [ -n "$CIRCLE_PR_NUMBER" ]; then
              echo "Nothing to do for forked PRs, so marking this step successful"
              circleci step halt
            fi

  # setup-automation:
  #   steps:
  #     - run:
  #         name: Setup automation
  #         command: |
  #           (mkdir -p deps; cd deps; git clone https://github.com/RedisLabsModules/readies.git)
  #           PIP=1 ./deps/readies/bin/getpy3
  #           python3 -m pip install -r ./deps/readies/paella/requirements.txt
  
  load-cached-deps:
    steps:
      # Load GraphBLAS from cache if possible.
      - restore_cache:
          keys:
          - GraphBLAS4.0-{{checksum "./deps/GraphBLAS/README.md"}}

      # Load libcypher-parser from cache if possible.
      - restore_cache:
          keys:
          - libcypher-parser-{{checksum "./deps/libcypher-parser/README.md"}}
  
  save-deps-cache:
    steps:
      # Save GraphBLAS to cache.
      - save_cache:
          paths:
            - deps/GraphBLAS
          key: GraphBLAS4.0-{{checksum "./deps/GraphBLAS/README.md"}}

      # Save libcypher-parser to cache.
      - save_cache:
          paths:
            - deps/libcypher-parser
          key: libcypher-parser-{{checksum "./deps/libcypher-parser/README.md"}}

  setup-prerequisits:
    steps:
      - run:
          name: Fetch submodules
          command: |
            git submodule update --init --recursive

      - run:
          name: Install prerequisites
          command: make setup

      - run:
          name: Setup locale
          command: |
              locale-gen --purge en_US.UTF-8
              dpkg-reconfigure -f noninteractive locales
    
  benchmark-automation:
    parameters:
      github_actor:
        type: string
        default: $CIRCLE_USERNAME
    steps:
      - run:
          name: Install remote benchmark tool dependencies
          command: TF_EXE_FILE_NAME=/workspace/terraform ./tests/benchmarks/remote/install_deps.sh
      - run:
          name: Install remote benchmark python dependencies
          command: python3 -m pip install -r ./tests/benchmarks/requirements.txt
      - run:
          name: Run CI benchmarks on aws
          command: |
              cd ./tests/benchmarks
              export AWS_ACCESS_KEY_ID=$PERFORMANCE_EC2_ACCESS_KEY
              export AWS_SECRET_ACCESS_KEY=$PERFORMANCE_EC2_SECRET_KEY
              export AWS_DEFAULT_REGION=$PERFORMANCE_EC2_REGION
              export EC2_PRIVATE_PEM=$PERFORMANCE_EC2_PRIVATE_PEM

              python3 remote-runner.py \
                --terraform_bin_path /workspace/terraform \
                --module_path /workspace/$MODULE_ARTIFACT \
                --github_actor << parameters.github_actor >> \
                --github_repo $CIRCLE_PROJECT_REPONAME \
                --github_org $CIRCLE_PROJECT_USERNAME \
                --github_sha $CIRCLE_SHA1 \
                --github_branch $CIRCLE_BRANCH \
                --upload_results_s3 \
                --triggering_env circleci \
                --push_results_redistimeseries

jobs:
  build:
    parameters:
      os:
        type: executor
        default: ubuntu
    executor: << parameters.os >>
    steps:
      - checkout
      - setup-prerequisits
      - setup-automation
      - load-cached-deps

      - run:
          name: Build
          command: make

      - save-deps-cache

      - early_return_for_forked_pull_requests

      - run:
          name: Persist Artifacts
          command: |
            strip src/$MODULE_ARTIFACT
            mkdir -p /workspace/build
            cp src/$MODULE_ARTIFACT /workspace
            cp ramp.yml /workspace/

      - persist_to_workspace:
          root: /workspace
          paths:
            - '*.so'
            - ramp.yml
            - build

  build_test:
    parameters:
      os:
        type: executor
        default: ubuntu
    executor: << parameters.os >>
    steps:
      - checkout
      - setup-prerequisits
      - setup-automation
      - attach_workspace:
          at: /workspace
      - load-cached-deps

      - run:
          name: Test
          command: make test

  build_memcheck:
    parameters:
      os:
        type: executor
        default: ubuntu
    executor: << parameters.os >>
    steps:
      - checkout
      - setup-prerequisits
      - setup-automation
      - load-cached-deps
      - attach_workspace:
          at: /workspace

      - run:
          name: Test for memory leaks
          command: |
              # Replace the default Redis server with one linked to libc malloc rather than jemalloc.
              python ./deps/readies/bin/getredis --force --valgrind
              make memcheck # Re-run the test suite, failing if definite memory leaks have been introduced.
          # Allow RediSearch global destructors.
          environment:
            RS_GLOBAL_DTORS: 1

  package_branch:
    parameters:
      os:
        type: executor
        default: ubuntu
    executor: << parameters.os >>
    steps:
      - attach_workspace:
          at: /workspace
      - run:
          name: Package
          command: >-
            python -m RAMP.ramp pack -m /workspace/ramp.yml -o
            /workspace/build/$PACKAGE_NAME.{os}-{architecture}.$CIRCLE_BRANCH.zip
            /workspace/$MODULE_ARTIFACT
      - persist_to_workspace:
          root: /workspace
          paths:
            - build
      - store_artifacts:
          path: /workspace/build
  package_release:
    parameters:
      os:
        type: executor
        default: ubuntu
    executor: << parameters.os >>
    steps:
      - attach_workspace:
          at: /workspace
      - run:
          name: Package
          command: >-
            python -m RAMP.ramp pack -m /workspace/ramp.yml -o
            /workspace/build/$PACKAGE_NAME.{os}-{architecture}.{semantic_version}.zip
            /workspace/$MODULE_ARTIFACT
      - run:
          name: Package
          command: >-
            python -m RAMP.ramp pack -m /workspace/ramp.yml -o
            /workspace/build/$PACKAGE_NAME.{os}-{architecture}.latest.zip
            /workspace/$MODULE_ARTIFACT
      - persist_to_workspace:
          root: /workspace
          paths:
            - build
      - store_artifacts:
          path: /workspace/build
  deploy_branch:
    parameters:
      os:
        type: executor
        default: ubuntu
    executor: << parameters.os >>
    steps:
      - attach_workspace:
          at: /workspace
      - run:
          name: Deploy to S3
          command: >-
            aws s3 cp /workspace/build/ s3://redismodules/$PACKAGE_NAME/ --acl
            public-read --recursive --exclude "*" --include "*.zip"

  deploy_release:
    parameters:
      os:
        type: executor
        default: ubuntu
    executor: << parameters.os >>
    steps:
      - attach_workspace:
          at: /workspace
      - run:
          name: Deploy to S3
          command: >-
            aws s3 cp /workspace/build/ s3://redismodules/$PACKAGE_NAME/ --acl
            public-read --recursive --exclude "*" --include "*.zip"

  release_automation:
    parameters:
      os:
        type: executor
        default: ubuntu
    executor: << parameters.os >>
    steps:
      - checkout
      - setup-automation
      - run:
          name: Run QA Automation
          command: MODULE_VERSION=$CIRCLE_TAG VERBOSE=1 TEST=release ./tests/qa/run

  nightly_automation:
    parameters:
      os:
        type: executor
        default: ubuntu
    executor: << parameters.os >>
    steps:
      - checkout
      - setup-automation
      - run:
          name: Run QA Automation
          command: MODULE_VERSION=$CIRCLE_BRANCH VERBOSE=1 TEST=nightly QUICK=1 ./tests/qa/run

  performance_ci_automation:
    parameters:
      os:
        type: executor
        default: ubuntu
    executor: << parameters.os >>
    steps:
      - early_return_for_forked_pull_requests
      - checkout
      - attach_workspace:
          at: /workspace
      - benchmark-automation

  nightly_performance_automation:
    parameters:
      os:
        type: executor
        default: ubuntu
    executor: << parameters.os >>
    steps:
      - early_return_for_forked_pull_requests
      - checkout
      - setup-prerequisits
      - setup-automation
      - attach_workspace:
          at: /workspace
      - load-cached-deps

      - run:
          name: Build artifact
          command: make

      - benchmark-automation:
          github_actor: "ci.nightly"

on-any-branch: &on-any-branch
  filters:
    branches:
      only: /.*/
    tags:
      only: /.*/

never: &never
  filters:
    branches:
      ignore: /.*/
    tags:
      ignore: /.*/

on-master: &on-master
  filters:
    branches:
      only: master

on-version-tags: &on-version-tags
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v[0-9].*/

on-master-and-version-tags: &on-master-and-version-tags
  filters:
    branches:
      only:
        - master
    tags:
      only: /^v[0-9].*/


workflows:
  version: 2
  build_and_package:
    jobs:
      - build:
          <<: *on-any-branch
          matrix:
            parameters:
              os: [ubuntu]
              # os: [ubuntu, centos7]
      - build_test:
          <<: *on-any-branch
          requires:
            - build-ubuntu
      - build_memcheck:
          <<: *on-any-branch
          requires:
            - build-ubuntu
      - package_branch:
          <<: *on-master
          requires:
            - build_test
            - build_memcheck
      - package_release:
          <<: *on-version-tags
          requires:
            - build_test
            - build_memcheck
      - deploy_branch:
          requires:
            - package_branch
      - release_automation:
          requires:
            - deploy_branch
      - deploy_release:
          <<: *on-version-tags
          requires:
            - package_release
      - performance_ci_automation:
          <<: *on-any-branch
          requires:
            - build_test

  nightly:
    triggers:
      - schedule:
          cron: "07 20 * * *"
          <<: *on-master
    jobs:
      - nightly_automation
      - nightly_performance_automation
